services:

    php-fpm:
        build:
            context: ./docker
            dockerfile: "Dockerfile.dev"
            args:
                PUID: "${HOST_USER_UID:-1000}"
                PGID: "${HOST_USER_GID:-1000}"
        user: "${HOST_USER_UID:-1000}:${HOST_USER_GID:-1000}"
        container_name: 'php'
        volumes:
            - './:/app'
        environment:
            XDEBUG_TRIGGER: 1
            XDEBUG_MODE: 'develop,debug'
            XDEBUG_CONFIG: 'client_host=host.docker.internal'
            PHP_IDE_CONFIG: 'serverName=0.0.0.0'
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        working_dir: '/app'
        depends_on:
            postgres:
                condition: 'service_healthy'

    nginx:
        image: 'nginx:1.20-alpine'
        container_name: 'nginx'
        working_dir: /app
        ports:
            - '7777:80'
        volumes:
            - ./:/app
            - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            php-fpm:
                condition: 'service_started'

    postgres:
        image: 'postgres:18.1-bookworm'
        ports:
            - '15432:5432'
        container_name: 'postgres'
        working_dir: '/app'
        restart: 'always'
        environment:
            POSTGRES_DB: "${DB_NAME:-srv_student_progress}"
            POSTGRES_USER: "${DB_USER:-postgres}"
            POSTGRES_PASSWORD: "${DB_PASSWORD:-postgres}"
        volumes:
            - 'dump:/app/dump'
            - 'postgresql:/var/lib/postgresql'
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres}"]
            interval: 8s
            timeout: 5s
            retries: 5

volumes:
    dump:
    postgresql:
