services:
    php-fpm:
        build:
            context: ./docker
            dockerfile: "Dockerfile.dev"
            args:
                PUID: "${HOST_USER_UID:-1000}"
                PGID: "${HOST_USER_GID:-1000}"
        user: "${HOST_USER_UID:-1000}:${HOST_USER_GID:-1000}"
        container_name: 'php'
        volumes:
            - './:/app'
            - "${COMPOSER_CACHE_DIR_HOST:-'~/.cache/composer'}:${COMPOSER_CACHE_DIR_CONTAINER:-'/.composer/cache'}"
        environment:
            XDEBUG_TRIGGER: 1
            XDEBUG_MODE: 'develop,debug'
            XDEBUG_CONFIG: 'client_host=host.docker.internal'
            PHP_IDE_CONFIG: 'serverName=0.0.0.0'
            COMPOSER_CACHE_DIR: "${COMPOSER_CACHE_DIR_CONTAINER:-/.composer/cache}"
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        working_dir: '/app'
        depends_on:
            postgres:
                condition: 'service_healthy'
